@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'MedievalSharp', cursive;
}

.caixaNavegacao {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.identificadorVisual {
    font-size: 30px;
    margin: 0.5em;
    font-family:
}

#caixaConteudoGeral {
    text-align: center;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1200px;
}

.informacaoPersonagem {
    display: flex;
    margin-bottom: 1em;
    min-width: 765px;
}

.nomePersonagem {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: flex-end;
}

.inicioBandeira {
    position: relative;
    width: 40%;
}

.finalBandeira {
    width: 10%;
}

.efeitoBandeira-nomePersonagem-cima{
    border-bottom-style: double;
    margin-top: 1.3em;
    height: 1em;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.efeitoBandeira-nomePersonagem-baixo{
    border-bottom-style: double;
    height: 1em;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: #fff;
}

.especificacoesPersonagem {
    text-align: center;
    padding: 1.2em 0 0.8em 0;
    border-style: double;
    justify-content: space-around;
    align-items: last baseline;
    flex-flow: row wrap;
    display: flex;
    width: 50%;
}

.especificacoesPersonagem div {
    width: 33%;
}

.especificacoesPersonagem p{
    margin: 1em 0px 0.3em 0px;
}

.especificacoesPersonagem .subtituloCampoTexto{
    font-weight: bold;
    width: 100%;
    margin: 0px;
    display: block;
    border-top: 1px solid black;
}

.controleDeTamanhoBandeira{
    height: 30%;
}

.caixaStatusGeralPersonagem {
    display: flex;
    margin: 0 auto;
}

.caixaAtributos {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0 1em;
}

.caixaForca, .caixaDestreza, .caixaConstituicao, .caixaInteligencia, .caixaSabedoria, .caixaCarisma{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    width: 90px;
    min-height: 78.40px;
    height: 10%;
    border: 3px double black;
    border-radius: 7px;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 1em 0;
}

.pontosForca, .pontosDestreza, .pontosConstituicao, .pontosInteligencia, .pontosSabedoria, .pontosCarisma {
    background-color: #fff;
    position: relative;
    top: 3.7em;
    border: 3px double black;
    border-radius: 100%;
    width: 60%;
    max-height: 32px;
}

.caixaAtributosAdicionais{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 20%;
    min-width: 180px;
    margin-right: 1em;
}

.caixaInspiracao {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: 160px;
    width: 100%;
    margin-bottom: 1em;
}

.inspiracao {
    width: 80%;
    border: 3px double black;
    border-right: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.2em;
}

.pontosInspiracao {
    width: 20%;
    padding: 0.4em;
    border: 2px solid black;
}

.caixaBonusProficiencia {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 160px;
    position: relative;
    margin-bottom: 1em;
}

.bonusProficiencia {
    width: 80%;
}

.completaBordaBonusProficiencia {
    width: 90%;
    height: 90%;
    margin-left: 10%;
    position: absolute;
    z-index: -1;
    white-space: nowrap;
    border: 3px double black;
    border-left: none;
    border-right: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.2em;
}

.pontosBonusProficiencia {
    width: 20%;
    padding: 0.4em;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #fff;
}

.caixaTesteDeResistencias {
    display: flex;
    align-items: flex-start;
    border: 3px double black;
    border-radius: 10px;
    flex-flow: column nowrap;
    min-width: 160px;
    white-space: nowrap;
    margin: 1em 0;
}

.caixaPericias {
    display: flex;
    align-items: flex-start;
    border: 3px double black;
    border-radius: 10px;
    flex-flow: column nowrap;
    min-width: 160px;
    white-space: nowrap;
}

.identificadorCaixa {
    font-weight: bold;
    margin: 1.5em auto 0.5em auto;
}

.caixaResistenciaForca, .caixaResistenciaDestreza, .caixaResistenciaConstituicao, .caixaResistenciaInteligencia, .caixaResistenciaSabedoria, .caixaResistenciaCarisma,.caixaPericiaArcanismo,.caixaPericiaAcrobacia,.caixaPericiaAtletismo,.caixaPericiaAtuacao,.caixaPericiaBlefar,.caixaPericiaFurtividade,.caixaPericiaHistoria,.caixaPericiaIntimidacao,.caixaPericiaIntuicao,.caixaPericiaInvestigacao,.caixaPericiaLidarComAnimais,.caixaPericiaMedicina,.caixaPericiaNatureza,.caixaPericiaPercepcao,.caixaPericiaPersuasao,.caixaPericiaPrestidigitacao,.caixaPericiaReligiao,.caixaPericiaSobrevivencia {
    text-align: left;
    margin: 0.3em 0.5em;
}

.pontosResistenciaForca, .pontosResistenciaDestreza, .pontosResistenciaConstituicao, .pontosResistenciaInteligencia, .pontosResistenciaSabedoria, .pontosResistenciaCarisma,.pontosPericiaAcrobacia,.pontosPericiaArcanismo,.pontosPericiaAtletismo,.pontosPericiaAtuacao,.pontosPericiaBlefar,.pontosPericiaFurtividade,.pontosPericiaHistoria,.pontosPericiaIntimidacao,.pontosPericiaIntuicao,.pontosPericiaInvestigacao,.pontosPericiaLidarComAnimais,.pontosPericiaMedicina,.pontosPericiaNatureza,.pontosPericiaPercepcao,.pontosPericiaPersuasao,.pontosPericiaPrestidigitacao,.pontosPericiaReligiao,.pontosPericiaSobrevivencia {
    border: none;
    border-bottom: 1px solid black;
    width: 15%;
    padding: 0px;
}

.caixaCaracteristicasEHabilidadesEEquipamentosEMagias{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-right: 0.5em;
    max-width: 400px;
}

.caixaCaracteristicasEHabilidadesEEquipamentosEMagias input, label {
    max-width: 70%;
    background-color: transparent;
    width: fit-content;
    border: none;
    outline: none;
}

.caixaCaracteristicasEHabilidades {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    border: 3px double black;
    padding: 1em 1em 0 1em;
    border-radius: 12px;
    width: 100%;
}

.caixaHardSkill {
    display: flex;
    justify-content: center;
}

.iconeHardSkill {
    width: 20%;
    padding: 1.5em;
    min-width: 90px;
    max-width: 150px;
    min-height: 90px;
    max-height: 150px;
}

.caixaSoftSkill {
    display: flex;
    margin: 1em 0;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.caixaSoftSkill div {
    margin: 0.2em 0;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: left;
}

.caixaSoftSkillUm::before, .caixaSoftSkillDois::before, .caixaSoftSkillTres::before, .caixaSoftSkillQuatro::before {
    content: ""; 
    display: inline-block;
    margin: 0 1.7em 0 1em;
    width: 24px;
    height: 24px;
    background-size: cover; 
}

.caixaSoftSkillUm::before {
    background-image: url(/imgs/book_icon.png);
}

.caixaSoftSkillDois::before {
    background-image: url(/imgs/clock_icon.png);
}

.caixaSoftSkillTres::before {
    background-image: url(/imgs/diamond.png);
}

.caixaSoftSkillQuatro::before {
    background-image: url(/imgs/line.png);
}

.caixaMoedasEEquipamentos {
    border: 3px double black;
    border-radius: 10px;
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.caixaMoedasEEquipamentos input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.caixaMoedas {
    width: 15%;
}

.moedaCobre, .moedaPrata, .moedaElektro, .moedaOuro, .moedaPlatina {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border: 3px double black;
    border-radius: 6px;
    width: 12%;
    min-width: 40px;
}

.caixaEquipamentos {
    width: 60%;
    text-align: left;
}

.caixaEquipamentos p {
    display: inline-block;
}

.arma::before, .armadura::before, .escudo::before, .colar::before, .sapatos::before {
    content: "";
    display: inline-block;
    margin: 0 1.7em 0 1em;
    width: 32px;
    height: 32px;
    background-size: cover;
}

.arma::before {
    background-image: url(/imgs/icons8-sword-50.png);
}

.armadura::before {
    background-image: url(/imgs/icons8-armor-64.png);
}

.escudo::before {
    background-image: url(/imgs/icons8-shield-32.png);
}

.colar::before {
    background-image: url(/imgs/icons8-necklace-32.png);
}

.sapatos::before {
    background-image: url(/imgs/icons8-armored-boot-32.png);
}

.caixaMagias {
    display: flex;
    flex-flow: row wrap;
    border: 3px double black;
    border-radius: 10px;
    padding: 1em 1em 0 1em;
    text-align: left;
}

.caixaMagias div{
   width: 100%;
   padding-bottom: 0.5em;
}

.beberCafe::before, .darUmaPausa::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 1em;
    background-size: cover;
    background-image: url(/imgs/icons8-cafe-32.png);
}

.darUmaPausa::before {
    background-image: url(/imgs/icons8-yoga-mat-32.png);
}

.caixaStatusDeCombateEAparenciaPersonagem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 30%;
    min-width: 258px;
    margin: 0 1em;
}

.aparenciaPersonagem {
    border: 3px double black;
    border-radius: 10px;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
}

.aparenciaPersonagem img{
    width: 80%;
}

.caixaStatusDeCombate {
    border: 3px double black;
    border-radius: 10px;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
}

.caixaDefesas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixaArmadura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 64px;
    min-width: 50px;
    border: 3px double black;
    border-radius: 20px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin: 1em auto;
    padding: 0.5em 0;
}

.caixaIniciativa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 64px;
    min-width: 60px;
    border: 3px double black;
    margin: 1em auto;
    padding: 0.5em 0;
}

.caixaDesloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 64px;
    min-width: 60px;
    border: 3px double black;
    margin: 1em auto;
    padding: 0.5em 0;
}

.caixaSaude {
    margin-bottom: 1em;
}

.caixaPontosDeVidaAtuais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid black;
    border-left: 3px double black ;
    border-right: 3px double black;
}

.pvTotaisLabel {
    width: 30%;
}

#pvTotais {
    text-align: center;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}

#pvTotais:focus {
    outline: none;
}

.caixaPontosDeVidaTemporarios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid black;
    border-left: 3px double black ;
    border-right: 3px double black;
    padding: 0.5em 0;
}

.caixaSorte {
    display: flex;
    justify-content: space-around;
}

.caixaDadosDeVida {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    min-width: 120px;
    margin-right: 1em;
    border: 1px solid black;
    border-left: 3px double;
    border-right: 3px double;
    padding: 1em 1em 0;
}

.caixaInput {
    display: flex;
    justify-content: space-between;
    max-height: 1em;
    width: 100%;
    margin-bottom: 1em;
}

#totalDadosDeVida {
    text-align: center;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}

#totalDadosDeVida:focus {
    outline: none;
}

.caixaTesteContraMorte {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    min-width: 120px;
    border: 1px solid black;
    border-left: 3px double;
    border-right: 3px double;
    padding: 1em 0;
}

.sucessosContraMorte {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.fracassosContraMorte {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.caixaAgradecimentos {
    border: 3px double black;
    padding: 0em 1em;
    border-radius: 10px;
}

/*Pagina Contato*/

.caixaContatos {
    width: 50%;
    display: flex;
    justify-content: space-around;
    height: 200px;
    flex-flow: column;
    padding: 1em 0 0 0;
    border: 3px double black;
}
.emConstrucao {
    display: flex;
    justify-content: center;
    margin: 5em;
}

a:link {
    text-decoration:none;
    }
    a:visited {
    text-decoration:none;
    }
    a:hover {
    text-decoration:underline;
    }